header {
  display: flex;
  margin: 5px 0 10px 0;
}

header h1 {
  margin: 0 10px 0 0;
}

#game-state-view {
  text-align: right;
}

table {
  border-collapse: collapse;
}
th {
  border-bottom: 1px solid black;
}
td {
  border-top: 1px solid black;
  padding: 0 5px;
}
