header {
  display: flex;
  margin: 5px 0 10px 0;
}

header h1 {
  margin: 0 10px 0 0;
}

#game-state-view {
  text-align: right;
}

table {
  border-collapse: collapse;
}
th {
  border-bottom: 1px solid black;
}
td {
  border-top: 1px solid black;
  padding: 0 5px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

main > div {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}

#log-column {
  display: flex;
  flex-direction: column;
}

#log-area {
  flex: 1;
  background-color: black;
  color: white;
  margin: 5px;
  overflow-y: scroll;
  padding: 2px;
}