html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

#boxes {
  width: 100%;
  height: 100%;
}

#boxes > * {
  position: fixed;
}

#hp-box {
  top: 0px;
  left: 0px;
  width: 60%;
  height: 50%;
  margin: 10px;
  border: 10px solid blueviolet;
  background-color: #111;
  color: yellow;
  border-radius: 10px;
  font-size: 30vh;
  line-height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#demon-box {
  top: 0px;
  right: 0px;
  width: 30%;
  height: 50%;
  margin: 10px;
  border: 10px solid blueviolet;
  background-color: #111;
  color: yellow;
  border-radius: 10px;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#demon-box.active-demon {
  background-image: url("/images/demon.png");
}

#stick-box {
  bottom: 0px;
  left: 0px;
  width: 50vh;
  height: 50%;
}

#calibration-button {
  bottom: 0px;
  right: 0px;
  width: 30vh;
  height: 30%;
  margin: 10px;
  background-image: url("/images/calibration.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  background-color: blueviolet;
  border: none;
}

#calibration-button.active-calibration {
  background-color: yellow;
}

