html{
	height: 100%;
}

body{
  margin: 0px;
  height: 100%;
  overflow: hidden;
}

#base{
	position: absolute;
	width: 150px;
	height: 150px;
	background-image: url("../base.png");
	top: calc(50% - 75px);
	left: calc(50% - 75px);
}

#stick{
	position: relative;
	top: 25px;
	left: 25px;
}

#sphero{
	position: relative;
	top: 150px;
	left: 300px;
}