html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
}

iframe {
  border: none;
}

/*#base{
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url("../base.png");
  top: calc(50% - 75px);
  left: calc(50% - 75px);
}

*/

#stick {
  position: absolute;
  width: 200px;
  height: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}

