html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
  overflow: hidden;
}

iframe {
  border: none;
}

#stick {
  position: absolute;
  width: 200px;
  height: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}

