* {
  color: #fff;
}

html {
  height: 100%;
}

body {
  background: #000;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1 {
  font-size: 300%;
  text-align: center;
  text-shadow: 3px 3px 8px rgba(200, 200, 200, 1);
}

table {
  border-collapse: collapse;
  font-size: 140%;
  margin-left: auto;
  margin-right: auto;
}

td, tr, th {
  padding: 10px 15px;
}

thead {
  border-bottom: solid 3px #ddd;
}

tr {
  border-bottom: solid 1px #999;
}

main {
  flex: 1;
  display: flex;
}

section {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
}

.hp-zone {
  margin: 0 10px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.name-zone {
  border-top: 1px solid white;
  padding: 5px 0;
}

